
<nav class="navbar navbar-default navbar-fixed-top bg-dark" >
   
  <div class="container">
    
  <div class="navbar-header">
      <a id="logo" class="navbar-brand" href="#myPage">1-818-832-8045</a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>
   
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ABOUT", about_path%></li>
        <li><%= link_to "SERVICES", services_path%></li>
        <li><%= link_to "DOC-TRACKER", "#"%></li>
        <li><%= link_to "BLOG", blog_path%></li>
        <li><%= link_to "CONTACT", contact_path%></li>
        <li><%= link_to "LOG-IN", login_path%></li>
      </ul>
    </div>
  </div>
</nav>
